:root {
    --inter-font: font-family: 'Inter', sans-serif;
    --segoe-bold: 'Segoe UI Bold', sans-serif;
    --segoe-semi-bold: 'Segoe UI Semibold', sans-serif;
    --accent-color: #F4B41B;
    --title-color: #3C3C3C;
    --main-text-color: #667085;
    --white-color: #FFFFFF;
}